<header
(scroll)="onScroll"
[ngClass]="{
    'OnScroll': isMouseScroll,
    'ActiveHeader': isHeaderMobile,
    'DisabledHeader': !isHeaderMobile && isHeaderMobileInitial,
}"
>
    <h1 class="logo__Header LogoNane">Adelson</h1>
    <nav>
        <ul class="Navbar__Header">
            <li><a href="#Inicio__Apresentacao"><i class="bi bi-house-door"></i>Inicio</a></li>
            <li><a href="#SobreMim_Apresentacao"><i class="bi bi-person"></i>Sobre Mim</a></li>
            <li><a href="#Habilidades__Apresentacao"><i class="bi bi-file-earmark-text"></i>Habilidades</a></li>
            <li><a href="#Contato__faleComigo"><i class="bi bi-send"></i>Fale Comigo</a></li>
        </ul>
    </nav>

</header>
<button class="botao__MobileHeader_View">
  <i class="bi" [ngClass]="{
  'bi-ui-checks-grid': !isHeaderMobile,
  'bi-x-lg': isHeaderMobile
  }"
  (click)="onActiveMobileNav()"></i></button>
