$fontSizeBar: 1.2rem;
$sizeButtonHeader: 2.5rem;
$primaryColor: #323232;
$layout-breaking-small: 960px;

@mixin LogoFont(){
    display: inline-block;
    font-weight: bold;
    font-size: $fontSizeBar;
    color: $primaryColor;
}

@mixin flexBar($direcao,$gap){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
    flex-direction: $direcao;
}

header {
    //Posição
    position: fixed;
    width: 100%;
    bottom: 0;

    //Estilo
    padding: 1rem 0;
    box-shadow: 0px 0px 8px #00000044;
    border-radius: 20px 20px 0 0;
    
    &.ActiveHeader{
        visibility: visible;
        animation: onMobileAnimation 1s ease-out;
    }

    &.DisableHeader{
        animation: onBackMobileAnimation 1s ease-in-out forwards;
    }

    @keyframes onMobileAnimation {
        from {
            transform: translateY(200px);
        }

        to {
            transform: translateY(0px);
        }
    }

    @keyframes onBackMobileAnimation {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(200px);
            visibility: hidden;
        }
    }
    
    .LogoNane {
        display: none;
    }

    nav {
        width: 100%;
    }

    .Navbar__Header {
        padding: 2rem 2rem 3rem 2rem;
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1rem;
        li{ 
            list-style: none;

            a {
                text-decoration: none;
                @include flexBar(column,.1rem);
                color: $primaryColor;
            }
            a i{
            display: block;
            }
        }
    }

    @media (min-width:$layout-breaking-small) {
        //Posicionamento
        display: flex;
        align-items: center;
        justify-content: space-around;

        top: 0;
        bottom: auto;
        padding: 1rem;
        box-shadow: 0px 0px 8px #00000000;
        transition: box-shadow .5s ease-in-out;

        nav {
            width: auto;
        }

        &.OnScroll {
            box-shadow: 0px 0px 8px #0000000f;
        }

        .logo__Header {
            @include LogoFont();
        }
        .Navbar__Header {
            padding: 0;
            @include flexBar(row,1rem);
    
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    font-size: 1.1rem;
                }
                a i {
                    display: none;
                }
            }
        }
    }
}

.botao__MobileHeader_View {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    width: $sizeButtonHeader;
    height: $sizeButtonHeader;

    background-color: $primaryColor;
    border-radius: 30px;

}