<section id="SobreMim">
    <h1>Sobre Mim</h1>
    <p class="subTitle">Minha Introdução</p>
    <article>
        <img class="Foto__SobreMim" src="../../assets/image/apresentacao/imagem.png">
        <div class="skills">
            <ul class="container__skills_SobreMim">
                <li class="box_container__skills_sobreMim">
                    <i class="bi bi-laptop"></i>
                    <h3 class="Titulo__container_Skills_SobreMim">experiência</h3>
                    <p class="SubTitulo__container_Skills_SobreMim">-1 ano</p>
                </li>
                <li class="box_container__skills_sobreMim">
                    <i class="bi bi-suitcase-lg"></i>
                    <h3 class="Titulo__container_Skills_SobreMim">Completos</h3>
                    <p class="SubTitulo__container_Skills_SobreMim">+6 Projetos</p>
                </li>
                <li class="box_container__skills_sobreMim">
                    <i class="bi bi-headset"></i>
                    <h3 class="Titulo__container_Skills_SobreMim">Suporte</h3>
                    <p class="SubTitulo__container_Skills_SobreMim">Online 24hrs</p>
                </li>
            </ul>
            <p>Sou desenvolvedor front-end especializado em criar páginas web com foco em UI/UX. Minha experiência como designer complementa minhas habilidades, permitindo-me entregar projetos desafiadores que satisfazem os clientes com um trabalho bem feito.</p>
            <a class="Button" href="../../assets/Curriculo Adelson.pdf" download="CV">Baixar CV  <i class="bi bi-file-earmark-medical"></i></a>
        </div>
    </article>
</section>