<section>
    <h1></h1>
    <p></p>
    <div class="Foto__SobreMim"></div>
     <div class="skills">
        <div class="container__skills_SobreMim">
            <div class="box_container__skills_sobreMim">
                <i></i>
                <p class="Titulo__container_Skills_SobreMim"></p>
                <p class="SubTitulo__container_Skills_SobreMim"></p>
            </div>
            <div class="box_container__skills_sobreMim">
                <i></i>
                <p class="Titulo__container_Skills_SobreMim"></p>
                <p class="SubTitulo__container_Skills_SobreMim"></p>
            </div>
            <div class="box_container__skills_sobreMim">
                <i></i>
                <p class="Titulo__container_Skills_SobreMim"></p>
                <p class="SubTitulo__container_Skills_SobreMim"></p>
            </div>
        </div>
     </div>
</section>