<section>
    <h1>Qualificações</h1>
    <p class="subTitle">Minha jornada pessoal</p>
    <div>
        <a [ngClass]="{'active': buttonStats}" (click)="Active()"><i class="bi bi-backpack2"></i>  Educação</a>
        <a [ngClass]="{'active': !buttonStats}" (click)="Active()"><i class="bi bi-suitcase-lg"></i>   Experiencia</a>
    </div>
    <app-time-line *ngIf="!buttonStats else SelectTemplate" [lista]="Experience"></app-time-line>
</section>

<ng-template #SelectTemplate>
    <app-time-line [lista]="Education"></app-time-line>
</ng-template>
