@use "../app.component.scss" as style;

section {
    text-align: center;
    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 3rem 0;
    
    }
}