<section id="Inicio" class="Apresentacao__Container">
    <div class="Apresentacao__Sociais">
        <a href="https://github.com/Adelson10" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.instagram.com/barros.adelson21/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/adelson-barros-561a1a24a/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="Apresentacao__Container_Texto">
        <h1>Adelson Barros</h1>
        <h2>Front-End</h2>
        <p>Sou programador e minha paixão é a criatividade e a inovação. Dedico-me intensamente ao meu trabalho, imerso em busca de soluções inovadoras.</p>
        <a class="Button" href="https://api.whatsapp.com/send/?phone=5511914893849&text&type=phone_number&app_absent=0" target="_blank">Chama ai  <i class="bi bi-send"></i></a>
        <div class="container__Mouse">
            <div class="Mouse"></div>
            <h3>Role para Baixo</h3>
            <i class="bi bi-arrow-down"></i>
        </div>
    </div>
    <div class="Apresentacao__foto">
        <div class="Apresentacao__foto_Imagem"></div>
    </div>
</section>