<section id="Inicio" class="Apresentacao__Container">
    <div class="Apresentacao__Sociais">
        <a href="https://github.com/Adelson10" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://www.instagram.com/barros.adelson21/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/adelson-barros-561a1a24a/" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="Apresentacao__Container_Texto">
        <h1>Adelson Barros</h1>
        <h2>Front-End</h2>
        <p>Sou programador e minha paixão é a criatividade e a inovação. Dedico-me intensamente ao meu trabalho, imerso em busca de soluções inovadoras.</p>
        <a class="Button">Chama ai  <i class="bi bi-send"></i></a>
    </div>
    <div class="Apresentacao__foto">
        <div class="Apresentacao__foto_Imagem"></div>
    </div>
</section>