$primaryColor: #424242;
$secundaryColor: #8B8582;
$ColorSelectFont: #000000;
$layout-breaking-small: 960px;
$background: #FAFAFA;
$FontSizeTitulo: 3rem;
$colorBorder: #eee;
$colorFundoContainers: white;

@mixin ButtonPadrao() {
    border: none;
    color: $background;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    background-color: $primaryColor;
    border-radius: 1rem;

    text-decoration: none;
    display: inline-block;
    margin: 1rem 0;
}

h1,h2,h3,h4,h5 {
    color: $primaryColor;
}

main {
   width: 90%;
   margin: 0 auto;
}

p {
    font-size: 1.2rem;
    color: $secundaryColor;
}

section {
    padding: 3rem 0;
    
    h1 {
        margin: .5rem 0;
    }
    .subTitle {
        margin: 0;
    }
}