$primaryColor: #424242;
$secundaryColor: #8B8582;
$ColorSelectFont: #000000;
$layout-breaking-small: 960px;
$background: #FAFAFA;
$FontSizeTitulo: 3rem;
$colorBorder: #eee;
$colorFundoContainers: white;
$layout-breaking-small: 960px;

@mixin ButtonPadrao() {
    border: none;
    color: $background;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    background-color: $primaryColor;
    border-radius: 1rem;

    text-decoration: none;
    display: inline-block;
    margin: 1rem 0;
}

h1,h2,h3,h4,h5 {
    color: $primaryColor;
}

main {
   width: 90%;
   margin: 0 auto;
}

p {
    font-size: 1.2rem;
    color: $secundaryColor;
}

a {
    text-decoration: none;
}

section {   
    padding: 2rem 0;
    h1 {
        margin: .5rem 0;
        text-align: center;
    }
    .subTitle {
        margin: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.Container__Box {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3rem 1rem 2rem 2rem;
    border-radius: 1rem;
    border: 1px solid $colorBorder;
    background-color: $colorFundoContainers;
    
    &.Box__Img {
        padding: 1rem;
    }

    i {
        font-size: 2rem;
    }

    a{
        cursor: pointer;
        font-size: .75rem;
        color: $secundaryColor;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: .5rem;
    }

    a::after {
        content: '';
        height: .8rem;
        width: 1rem;
        display: inline-block;
        background-image: url('../assets/image/arrow-right.svg');
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateY(-3px);
        color: $secundaryColor;
    }

    img {
        border-radius: 1rem;
    }

}

@media (min-width: $layout-breaking-small) {
    main {
        width: 40rem;
        margin: 0 auto;
     }
        
     section {  
        padding-top: 90px;
    }

}