@use "../app.component.scss" as style;

@mixin iconHabilidade($url) {
    content: '';
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    background-image: $url;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: -2rem;
}

section {
    text-align: center;
    article {
        padding: 1rem 2rem;
        border: 1px solid style.$colorBorder;
        border-radius: 1rem;
        background: style.$colorFundoContainers;
        margin: 2rem 0;

        h3 {
            margin: 1rem 0;
        }

        ul {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: .8rem;
            padding: 0;
            position: relative;
            padding-bottom: 2rem;
            text-align: center;

            h3,p {
                margin: 0;
                position: relative;
                font-weight: 400;
            }

            p {
                font-size: .8rem;
            }

            li {
                text-align: start;
                width: 50%;
                margin: 0 auto;
            }

            #Git::after {
                @include iconHabilidade(url('../../assets/image/icons/bxl-git.svg'));
            }
            #HTML::after {
                @include iconHabilidade(url('../../assets/image/icons/bxl-html5.svg'));
            }
            #CSS::after {
                @include iconHabilidade(url('../../assets/image/icons/bxl-css3.svg'));
            }
            #TypeScript::after {
                @include iconHabilidade(url('../../assets/image/icons/bxl-typescript.svg'));
            }
            #Angular::after {
                @include iconHabilidade(url('../../assets/image/icons/bxl-angular.svg'));
            }
            #Bootstrap::after {
                @include iconHabilidade(url('../../assets/image/icons/bxl-bootstrap.svg'));
            }

            #MySql::after {
                @include iconHabilidade(url('../../assets/image/icons/bxl-postgresql.svg'));
            }
            #NodeJs::after {
                @include iconHabilidade(url('../../assets/image/icons/bxl-nodejs.svg'));
            }

        }
    }
}

@media (min-width:style.$layout-breaking-small) {
    section {
        div {
            gap: 2rem;
        }
    }
}