@import '~normalize.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$background: #FAFAFA;
$primaryColor: #424242;

body, html {
    background: $background;
    font-family: "Josefin Sans", sans-serif;
}